.app__video {
  height: 100vh;
  position: relative;
}

.app__video video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.app__video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.app__video-overlay_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--color-golden);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__video-overlay_remove {
  background-color: transparent;
  position: absolute;
  width: 100%;
  inset: 0;
}
